tiktoken==0.3.3
pinecone-client==2.0.0
langchain==0.0.200
python-dotenv==0.20.0
pymongo==3.11.4
pypdf==2.5.0
streamlit==1.26.0
streamlit-aggrid==0.0.3
matplotlib==3.5.0
statsmodels==0.13.0
openai==0.27.0
plantuml==1.0.0
nltk==3.6.7
PyMuPDF==1.19.6
